body{
    background-color: rgb(143, 183, 196);
    color: rgb(20, 20, 24);
    font-family: "Merriweather", serif;
    margin: 0px;
}

header{
    font-size: 55px;
    text-align: center;
    border-bottom: double 5px darkblue;
   /*margin: 30px;*/
padding: 30px;
color: rgb(188, 190, 193);
}
h1{
    font-size: 35px;
}
p{
    font-size: 25px;
} 

section {
    background-color: rgb(135, 135, 138);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 15%;
}