body{
    background-color: rgb(143, 183, 196);
    color: rgb(131, 131, 148);
    font-family: "Merriweather", serif;
    margin: 0px;
}

header{
    font-size: 55px;
    border: double 5px rgb(218, 218, 255);
   /*margin: 30px;*/
padding: 30px;
}
h1{
    font-size: 35px;
}
p{
    font-size: 25px;
} 

section {
    background-color: rgb(130, 130, 181);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}