body{
    background-color: rgb(143, 183, 196);
    color: rgb(131, 131, 148);
    font-family: "Merriweather", serif;
    margin: 0px;
}

header{
    font-size: 55px;
    border: double 5px rgb(218, 218, 255);
}
h1{
    font-size: 35px;
}
p{
    font-size: 25px;
}